In [8]:
import sqlite3
#connect to database
connexion = sqlite3.connect("../data/vivino.db")
#fetch results from database
cursor = connexion.cursor()

In [9]:
#retrieve all elements from table Vintages
cursor.execute("""
    SELECT
        *
    FROM
        vintages
    LIMIT 10;
""")
cursor.fetchall()

[(2036, 'Mazzei Siepi 2005', 1471, 4.4, 580, 2005, 168.75, None, None, 750),
 (2202,
  'Antinori Tignanello 2005',
  1652,
  4.5,
  1933,
  2005,
  750.0,
  None,
  None,
  1500),
 (10343,
  'Casanova di Neri Tenuta Nuova Brunello di Montalcino 2001',
  9712,
  4.5,
  611,
  2001,
  420.0,
  None,
  None,
  750),
 (10786,
  'Poggio Antico Altero Brunello di Montalcino 2006',
  10152,
  4.5,
  236,
  2006,
  121.25,
  None,
  None,
  750),
 (10809,
  'Château Angelus Saint-Émilion Grand Cru (Premier Grand Cru Classé) 2007',
  10175,
  4.5,
  876,
  2007,
  726.25,
  None,
  None,
  750),
 (11563,
  'Paul Jaboulet Aîné Hermitage La Chapelle Rouge 2006',
  10922,
  4.5,
  927,
  2006,
  310.0,
  None,
  None,
  750),
 (14600,
  'Renato Ratti Barolo Rocche 2004',
  13904,
  4.5,
  256,
  2004,
  202.5,
  None,
  None,
  750),
 (14665,
  "Emidio Pepe Montepulciano d'Abruzzo 2001",
  13969,
  4.4,
  452,
  2001,
  248.25,
  None,
  None,
  750),
 (15887,
  'La Spinetta Vürsù Barbaresco Starderi 2005',
  15182,
  4.4,
  296,
  2005,
  262.5,
  None,
  None,
  750),
 (21786,
  'Renato Ratti Barolo Rocche 2001',
  13904,
  0.0,
  2,
  2001,
  276.25,
  None,
  None,
  750)]

In [10]:
# find unique value of ratings_average
query = """
    SELECT DISTINCT
        ratings_average
        
    FROM
        vintages;
"""
cursor.execute(query)
result = cursor.fetchall()
result

[(4.4,), (4.5,), (0.0,), (4.7,), (4.6,), (4.8,), (4.9,)]

In [11]:
#retrieve top 10 ratings from table vintages
cursor.execute("""
    SELECT
        ratings_average,ratings_count,price_euros
    FROM
        vintages
    
    ORDER BY 
        ratings_average DESC
    LIMIT 10;
""")
cursor.fetchall()

[(4.9, 32, 397.5),
 (4.9, 35, 1970.05),
 (4.8, 1000, 1900.0),
 (4.8, 235, 3522.5),
 (4.8, 1004, 2882.5),
 (4.8, 88, 808.75),
 (4.8, 104, 1921.25),
 (4.8, 333, 3096.25),
 (4.8, 52, 1152.5),
 (4.8, 1190, 6300.0)]

In [12]:
#retrieve number of counts from table vintages
cursor.execute("""
    SELECT
        ratings_average,ratings_count,price_euros
    FROM
        vintages
    
    ORDER BY 
        ratings_count DESC
    LIMIT 10;
""")
cursor.fetchall()

[(4.4, 36681, 72.0),
 (4.6, 28513, 245.0),
 (4.4, 23241, 81.5),
 (4.4, 21147, 49.61),
 (4.6, 21121, 440.0),
 (4.5, 17090, 63.95),
 (4.5, 16804, 180.0),
 (4.6, 15647, 177.95),
 (4.6, 14650, 460.0),
 (4.6, 13709, 420.0)]

In [13]:
#choose the median of ratings 
query = """
    SELECT
        ratings_average, ratings_count, price_euros 

    FROM
        vintages
    WHERE
        ratings_average>4.6
        
        
    ORDER BY 
       ratings_count DESC
       
 LIMIT 20
 ;
"""
cursor.execute(query)
result = cursor.fetchall()

result

[(4.7, 5254, 836.3),
 (4.7, 4948, 1665.0),
 (4.7, 4757, 2071.25),
 (4.7, 3475, 896.25),
 (4.7, 3465, 202.2),
 (4.7, 3275, 597.5),
 (4.7, 2722, 535.0),
 (4.7, 2516, 1665.0),
 (4.7, 2459, 702.5),
 (4.7, 2228, 527.6),
 (4.7, 2186, 705.0),
 (4.7, 2181, 533.75),
 (4.7, 2128, 1537.5),
 (4.7, 1890, 443.0),
 (4.7, 1869, 1173.75),
 (4.7, 1858, 928.3),
 (4.7, 1736, 1686.25),
 (4.7, 1676, 1451.25),
 (4.7, 1586, 265.0),
 (4.7, 1564, 668.75)]

In [14]:
#choose the price under 1000 of median rating
query = """
    SELECT
        name,ratings_average, ratings_count, price_euros 

    FROM
        vintages
    WHERE
        ratings_average>4.6
        AND price_euros<1000
        
        
    ORDER BY 
       ratings_count DESC
       
 LIMIT 10
 ;
"""
cursor.execute(query)
top_wines = cursor.fetchall()

top_wines
#for row in top_wines:
    #print("Name of the wine:",row[0])
    #print("Rating of the wine:",row[1])
    #print("Number of count:",row[2])
    #print("Price in Euro:",row[3])

[('Tenuta San Guido Sassicaia 2016', 4.7, 5254, 836.3),
 ('Louis Roederer Cristal Brut Champagne (Millésimé) 2002', 4.7, 3475, 896.25),
 ('Vega Sicilia Valbuena 5º 2016', 4.7, 3465, 202.2),
 ('Château Pontet-Canet Pauillac (Grand Cru Classé) 2009', 4.7, 3275, 597.5),
 ('Opus One Opus One 2017', 4.7, 2722, 535.0),
 ("Antinori Tenuta Tignanello 'Solaia' 2015", 4.7, 2459, 702.5),
 ('Opus One Opus One 2018', 4.7, 2228, 527.6),
 ("Antinori Tenuta Tignanello 'Solaia' 2009", 4.7, 2186, 705.0),
 ('Ornellaia Bolgheri Superiore 2007', 4.7, 2181, 533.75),
 ('Caymus Special Selection Cabernet Sauvignon 2017', 4.7, 1890, 443.0)]