In [1]:
import pandas as pd
import sqlite3
#connect to database
connexion = sqlite3.connect("../data/vivino.db")
#fetch results from database
cursor = connexion.cursor()

In [2]:
#retrieve all elements from table Vintages
cursor.execute("""
    SELECT
        *
    FROM
        vintages
    LIMIT 10;
""")
cursor.fetchall()

[(2036, 'Mazzei Siepi 2005', 1471, 4.4, 580, 2005, 168.75, None, None, 750),
 (2202,
  'Antinori Tignanello 2005',
  1652,
  4.5,
  1933,
  2005,
  750.0,
  None,
  None,
  1500),
 (10343,
  'Casanova di Neri Tenuta Nuova Brunello di Montalcino 2001',
  9712,
  4.5,
  611,
  2001,
  420.0,
  None,
  None,
  750),
 (10786,
  'Poggio Antico Altero Brunello di Montalcino 2006',
  10152,
  4.5,
  236,
  2006,
  121.25,
  None,
  None,
  750),
 (10809,
  'Château Angelus Saint-Émilion Grand Cru (Premier Grand Cru Classé) 2007',
  10175,
  4.5,
  876,
  2007,
  726.25,
  None,
  None,
  750),
 (11563,
  'Paul Jaboulet Aîné Hermitage La Chapelle Rouge 2006',
  10922,
  4.5,
  927,
  2006,
  310.0,
  None,
  None,
  750),
 (14600,
  'Renato Ratti Barolo Rocche 2004',
  13904,
  4.5,
  256,
  2004,
  202.5,
  None,
  None,
  750),
 (14665,
  "Emidio Pepe Montepulciano d'Abruzzo 2001",
  13969,
  4.4,
  452,
  2001,
  248.25,
  None,
  None,
  750),
 (15887,
  'La Spinetta Vürsù Barbaresco Starderi 2005',
  15182,
  4.4,
  296,
  2005,
  262.5,
  None,
  None,
  750),
 (21786,
  'Renato Ratti Barolo Rocche 2001',
  13904,
  0.0,
  2,
  2001,
  276.25,
  None,
  None,
  750)]

In [3]:
# find unique value of ratings_average
query = """
    SELECT DISTINCT
        ratings_average
        
    FROM
        vintages
        
    Where ratings_average!=0.0;
"""
cursor.execute(query)
result = cursor.fetchall()
result

[(4.4,), (4.5,), (4.7,), (4.6,), (4.8,), (4.9,)]

In [4]:
#count of different ratings
query1=("""
    SELECT
        ratings_average,
        sum(ratings_count) as number_of_counts,
        AVG(price_euros) as Average_price_euros

    FROM
        vintages

    WHERE 
        ratings_average!=0.0
    
    GROUP BY 
        ratings_average 

    
    ;
""")
cursor.execute(query1)
result=cursor.fetchall()
result

[(4.4, 334199, 180.61132499999962),
 (4.5, 266790, 393.61355513308087),
 (4.6, 338443, 698.7406249999999),
 (4.7, 122877, 1443.0347142857142),
 (4.8, 11194, 1861.7382352941179),
 (4.9, 67, 1183.775)]

In [5]:
#choose the price under 700 of median rating
query2 = """
    SELECT
        name, ratings_count, price_euros 

    FROM
        vintages
        
    WHERE
        ratings_average=4.6
        AND price_euros<700
        
        
    ORDER BY 
       ratings_count DESC
       
 LIMIT 10
 ;
"""
cursor.execute(query2)
result = cursor.fetchall()

result

[('Krug Grande Cuvée', 28513, 245.0),
 ('Dom Pérignon Brut Champagne 2006', 21121, 440.0),
 ('Caymus Cabernet Sauvignon 2019', 15647, 177.95),
 ('Dom Pérignon Brut Champagne 2004', 14650, 460.0),
 ('Antinori Tignanello 2016', 13709, 420.0),
 ('Antinori Tignanello 2015', 13111, 353.75),
 ('Antinori Tignanello 2017', 8548, 310.0),
 ('Tenuta San Guido Sassicaia 2012', 7410, 493.8),
 ('Tenuta San Guido Sassicaia 2011', 7165, 661.25),
 ('Tenuta San Guido Sassicaia 2013', 7103, 632.5)]